@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.service:hover{
  transition: ease-in-out 0.8s;
  transform: scale(1.1);
}

.portfolio-box{
  height: 400px;
  background-color:transparent;
  background-size: cover;
  background-position: top;
  transition: ease-in-out 5s;
}
.portfolio-box:hover{
  background-position: bottom;
}
